@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body#body {
    background-color: #2a2a2a;
    color: white;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

header {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.navbar {
    background: linear-gradient(to bottom, #2a2a2a, #2a2a2a);
    padding: 2% 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}

.scrolled {
    background: linear-gradient(to bottom, black, #2a2a2a);
    border-bottom: #2a2a2a;
    transition: .3s ease-in-out;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

#name {
    font-size: 2.5em;
    color: white;
}


/* Estilizando main */

main #inicio, #habilidades, #projetos, #feedbacks, #contatos{
    padding-top: 200px;
    padding-bottom: 200px;
}

#inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
}

.carousel {
    width: 100%;
}

.about-me h5 {
    text-align: center;
    width: 80%;
}

.img-about-me {
    border: 2px solid #8c52ff;
    border-radius: 50%;
    width: 250px;
}

.txt-about-me {
    text-align: center;
    position: relative;
    margin: 1em;
    font-style: italic;
}

.txt-about-me h3, h2 {
    font-weight: 100;
}

.txt-about-me h3::before {
    content: "";
    animation: palavras 35s infinite;
}

.txt-about-me h3::after {
    content: "";
    position: absolute;
    height: 40%;
    border-left: 2px solid white;
    right: -10px;
    animation: cursor 1s infinite, digita 35s steps(25) infinite;
    width: calc(100% + 11px);
    background-color: #2a2a2a;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 11px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid #2a2a2a;
    }
}

@keyframes palavras {
    0%, 20% {
        content: "Desenvolvedor Full Stack com experiência sólida.";
    }
    21%, 40% {
        content: "Especialista em automação e APIs com Python.";
    }
    41%, 60% {
        content: "Freelancer com projetos comprovados.";
    }
    61%, 80% {
        content: "Investigação digital e segurança cibernética.";
    }
    81%, 100% {
        content: "Criador de conteúdo e empreendedor.";
    }
}

.carousel-item {
    transition: transform 2s ease-in-out !important;
}

#habilidades {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.skills-select {
    padding: 0% 10%;
    display: flex;
    justify-content: space-between;
}

.hardskills {
    width: 100%;
}

#projetos {

}

#feedbacks {

}

#contato {

}

footer {
    border: 1px solid yellow;
}